{% load static %}

{% block head %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>управление dhcpd сервером</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="сервер управления dhcpd для iptv">
    <meta name="author" content="alex.podolin@gmail.com">
    <style media="all,print,screen"></style>
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" media="all">
    <script src="{% static 'js/jquery-3.4.1.slim.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/png">
</head>
{% endblock %}

