{% include 'iptv_dhcpmanager/base.html' %}
{% load static %}

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'img/logo.png' %}" width="100" height="45" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/subnets/">Подсети</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/hosts-allow/">Разрешенные адреса</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/">Админка</a>
			</li>
			<li class="nav-item">
                <a class="nav-link" href="/">Выход</a>
            </li>
		</ul>
	</div>
</nav>

<div class="container-fluid table-responsive-lg table-cust">
	<div class="d-flex flex-row justify-content-between">
		<p>Сконфигурированные подсети</p>
		<button type="button" class="btn btn-light btn-sm">Сгенерировать конфиг</button>
	</div>
	
	<table class="table table-hover table-cust">
		<thead>
			<tr>
				<th scope="col">Описание</th>
				<th scope="col">Ip подсети</th>
				<th scope="col">Маска подсети</th>
				<th scope="col">Шлюз</th>
				<th scope="col">Broadcast</th>
				<th scope="col">Начальный ip</th>
				<th scope="col">Конечный ip</th>				
				<th scope="col">DNS суффикс</th>
				<th scope="col">DNS осн. сервер</th>
				<th scope="col">DNS рез. сервер</th>
			</tr>
		</thead>
		<tbody>
			{% for subnet in subnets_list %}
				<tr>
					<td>{{ subnet.description | default_if_none:"" }}</td>
					<td>{{ subnet.ip_subnet }}</td>
					<td>{{ subnet.mask_subnet }}</td>
					<td>{{ subnet.gw_subnet }}</td>
					<td>{{ subnet.ip_broadcast }}</td>
					<td>{{ subnet.ip_start }}</td>
					<td>{{ subnet.ip_end }}</td>
					<td>{{ subnet.dns_prefix }}</td>
					<td>{{ subnet.dns_main }}</td>
					<td>{{ subnet.dns_res | default_if_none:"" }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

</body>
</html>


